.navbar {
  height: 100px;
  position: absolute;
  z-index: 1;
  background-color: transparent;
  width: 100%;
}

.navbar form {
  margin-right: 2rem;
}

.navbar .nav-link {
  color: #fff;

}

.navbar-collapse .navbar-nav {
  display: flex;
  gap: 30px;
  font-size: 15px;
}

.img-small {
  margin-left: 40px;
  margin-right: 20px;
  height: 27px;
  width: auto;
}

/*hero*/

.hero #header #hamachi-logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(image/hamachi-hero.jpeg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .75;

}

.hero #header {
  background: #677e8e;
  height: 100vh;
  position: relative;
}

.logo .logo-img {
  width: 306px;
  height: auto;


}

.h2-hero {
  font-size: 34px;
  font-weight: 300;
  text-shadow: 0 2px 0 rgba(0, 0, 0, .2);
}

.p-hero {
  font-size: 20px;
  opacity: .75;
  margin: 10px auto 40px auto;
}

.container-links .button-donwload {
  background-color: #8cc22e;
  color: #fff;
  line-height: 3em;
  border: #6e9924;
  box-shadow: 0 2px 0 #6e9924, 0 -2px 0 #a4d54e;
}

.button-donwload {
  display: inline-block;
  padding: 0 1.5em;
  line-height: 2.5em;
  border-radius: 4px;
  font-weight: 400;
  cursor: pointer;
}


#header .div-hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 900px;

}

#header .align-center {
  text-align: center;
}

.div-a-hero a {
  text-decoration: none;
  color: #4cb7ef;
  font-weight: bold;
  border-bottom: 1px solid rgba(76, 183, 239, 0);
  transition: all .2s ease-out;
}

.div-a-hero a:hover {
  text-decoration: underline;
  border-bottom: 1px solid rgba(76, 183, 239, 0);
}

/*div hero*/

.div-hero-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba(43, 59, 86, .3);
  line-height: 55px;
  color: #4cb7ef;
}

.div-hero-2 .a-hero-2 {
  display: inline-block;
  line-height: 5px;
  padding: 0 40px;
  text-decoration: none;
  color: #4cb7ef;
}

.align-center {
  text-align: center;
}

.div-hero-2 .arrow {
  display: inline-block;
  height: 8px;
  margin-left: 10px;
}

/*section-features*/
.section-features {
  background-color: #f0f7fb;
}

.container-features .container-childs-features {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;

}

.h3-card {
  padding: 30px;
  color: #2d749a;
  font-weight: 300;
  margin-left: -3rem;
}

.child-features-h3 {
  text-align: left;
  font-size: 1.17em;
  color: #2d749a;
  margin-left: 4rem;
}

.child-features-p {
  opacity: .8;
  font-size: .9rem;
  margin-left: 4rem;
}

.container-childs-features {
  position: relative;
}

.container-features {
  padding-bottom: 20px;
}

.container-features .img-features {
  width: 80px;
  height: 80px;
  position: absolute;
  margin-left: -3rem;
}

/*section 1*/
.section-one {
  background-color: #4cb7ef;
}

.h3-sec-one {
  padding-top: 60px;
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 20px;
}

.h3-one {
  padding-top: 15px;
  font-size: 1.5em;
  font-weight: 300;
}

.column-eight {
  padding-bottom: 40px;
  padding-left: 0px;
  padding-right: 0px;
}

.container-sec-one .column-sec-one {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
}

.column-sec-one .img-sec-one {
  width: 90px;
  height: 90px;
}

.column-sec-one .h3-one {
  font-size: 1.17em;
  text-shadow: 0 2px 0 rgba(0, 0, 0, .2);
}

.column-sec-one .p-one {
  opacity: .8;
}

/*section 2*/
.section-two {
  background-color: #f0f7fb;
}

.column-sec-two {
  padding-bottom: 40px;
  padding-left: 0px;
  padding-right: 0px;
}

.h3-sec-two {
  font-size: 1.5em;
  padding-top: 60px;
  font-weight: 300;
  color: #2d749a;
}

.h3-two {
  font-size: 1.5em;
  font-weight: 300;
  color: #2d749a;
}

.container-two .column-sec-two {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
}

.column-sec-two .img-sec-two {
  width: 90px;
  height: 90px;
}

.column-sec-two .h3-two {
  color: #2d749a;
  font-size: 1.17em;
  text-shadow: 0 2px 0 rgba(0, 0, 0, .2);
}

.column-sec-two .p-two {
  color: #2d749a;
  opacity: .8;
}

/*section 3*/

.section-three {
  background-color: #fff;
}

.container-three .column-three {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  padding: 50px;
  margin-top: 50px;
}

.container-three .column-three-img {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
}

.column-three .h3-three {
  font-size: 1.17em;
  color: #2d749a;
  font-weight: 400;
}

.column-three .p-three {
  font-weight: 300;
  color: #555;
  margin: 2em 0;
}

.column-three .p-three a {
  text-decoration: none;
  border-bottom: 1px solid rgba(76, 183, 239, 0);
  transition: all .2s ease-out;
  color: #4cb7ef;
  font-weight: bold;
}

.column-three .p-three a:hover {
  text-decoration: underline;
  border-bottom: 1px solid rgba(76, 183, 239, 0);
}

.column-three .button-sec-three {
  background-color: #4cb7ef;
  color: #fff;
  box-shadow: 0 2px 0 rgba(45, 116, 154, .75), 0 -1px 0 white;
  border: #2d749a 1px solid;
  transition: all .2s ease-out;
}

.button-sec-three {
  display: inline-block;
  padding: 0 1.5em;
  line-height: 2.5em;
  border-radius: 4px;
  font-weight: 400;
  cursor: pointer;
}

.button-sec-three:hover {
  background-color: transparent;
  color: #2d749a;
  border: #2d749a 1px solid;
}

/*section 4*/

.section-four {
  background-color: #4cb7ef;
}

/*seccion relative*/
.pricing-table-button {
  position: relative;
}

.pricing-table-button .img-four {
  width: 280px;
  height: 50px;
  position: absolute;
  margin-left: -8.5rem;
  margin-top: 1rem;
}

.pricing-table-content .p-img-four {
  position: relative;
  color: white;
  margin-top: -.3rem;
  margin-left: 1rem;
}

/* pricing tables */

.h2-sec-four {
  font-size: 1.5em;
  font-weight: 400;
}

.container-four {
  padding-bottom: 40px;
}

.row-section-four {
  padding: 0px 0px;
  margin-left: -80px;
  margin-right: -80px;
}

.pricing-table {
  background-color: #3998ccde;
  text-align: center;
  margin: 15px 0;

}

.pricing-table ul,
.pricing-table ol {
  margin-bottom: 0;
  padding-left: 0;
}

.pricing-title {
  font-size: 1rem;
  font-weight: 400;
  padding: 10px;
  margin-bottom: 0;
  border-top: 2px solid #1a435a;
}

.pricing-table-price {
  background: #cdd4d8;
  font-weight: 700;
  padding: 0px;
  margin-bottom: 30px;
}

.pricing-table-price.w-rounded-price {
  display: table;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto 30px auto;
  padding: 0;
}

.rounded-price {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.rounded-price .pricing-price {
  font-size: 1.75rem;
}

.rounded-price .pricing-currency {
  vertical-align: 10px;
}

.pricing-table-price p {
  color: #000;
  margin-bottom: 0;
}

.pricing-table-price p strong {
  opacity: .75;
  font-weight: 300;
}

.pricing-currency {
  font-size: 1rem;
  font-weight: 700;
  vertical-align: 50px;
}

.pricing-price {
  font-size: 5rem;
  font-weight: 300;
}

.pricing-period {
  font-weight: 700;
}

.pricing-table-content li {
  margin-bottom: 15px;
}

.pricing-table-button {
  padding: 15px 0 35px;
}

.btn-info {
  background-color: #f0f7fb;
  color: #4cb7ef;
  padding: 0 1.5em;
  line-height: 2.5em;
  border-radius: 4px;
  font-weight: 400;
  cursor: pointer;
  transition: all .2s ease;
}

.pricing-table-button .btn-info:hover {
  color: #4cb7ef;
  background-color: #f0f7fb;
}


.featured.pricing-table {
  background: #9c64b8;
}

.featured.pricing-table .pricing-title {
  color: #fff;
}

.featured.pricing-table .pricing-table-content ul li {
  color: #eee;
}

.featured.pricing-table .pricing-table-price {
  background: #8853a1;
}

.featured.pricing-table .pricing-table-price p {
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
}

.bg-info-hover {
  background-color: #2d749a !important;
}

.bg-info {
  background-color: #3998ccde !important;
}

.bg-primary-hover {
  background-color: #2d749a !important;
}

.bg-primary {
  background-color: #3998ccde !important;
}

.text-white {
  color: #fff !important;
}

/*section 5*/

.section-five {
  max-height: 500px;
}

.container-five .column-five {
  padding: 30px;
}

.column-five .h3-sec-five {
  color: #2d749a;
  font-weight: 300;
}

.container-five .nav-sec-five .a-sec-five {
  text-decoration: none;
  font-size: 20px;
  color: #4cb7ef;
}

.nav-sec-five .li-sec-five {
  margin: 20px 0;
}

/*footer*/

footer {
  background-color: #2d749a;
  color: #fff;
  padding: 40px 0;
}

footer h4 {
  font-size: .9em;
  text-transform: uppercase;
  font-weight: 400;
}

.nav-footer .a-footer {
  color: #fff;
  text-decoration: none;
  font-size: 0.8em;
}

footer small cite {
  font-size: .8em;
}

/*responsives*/

/*section features*/

@media screen and (max-width: 454px) {
  .child-features-h3 {
    text-align: center;
  }

  .child-features-p {
    text-align: center;
  }
}

@media screen and (max-width: 991px) {}